
.cus-btn:hover {
    background-color: darkgray !important;
    color: white !important;
    transition: background-color 0.5s, color 0.5s !important;
}

.cus-btn-two:hover {
    background-color: black !important;
    color: white !important;
    transition: background-color 0.5s, color 0.5s !important;
}

.cus-dp {
    font-size: 10px !important;
    padding: 10px !important;
    border-radius: 0 !important;
}

.react-datepicker {
    padding-top: 5px;
    border: none !important;
    background-color: #F6F6F6 !important;
}

.react-datepicker__navigation {
    padding-top: 10px !important;
}

.react-datepicker__current-month {
    font-size: 14px !important;
}

.react-datepicker__header {
    background-color: #F6F6F6 !important;
    border-bottom: 0.5px solid lightgray !important;
    font-size: 12px !important;
    font-weight: bold !important;
}

.react-datepicker__day--selected {
    background-color: lightgray !important;
}

.react-datepicker__day--keyboard-selected {
    background-color: transparent !important;
}
